html {
  // overflow-x: hidden;
  // margin-right: calc(-1 * (100vw - 100%));
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

body {
  max-width: 100vw;
  text-rendering: optimizeSpeed;
}

.layout-wrapper {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-wrapper {
  // display: flex;
  // flex-direction: column;
  flex-grow: 1;
  // will-change: scroll-position;
}

.main-header {
  // margin-top: 16px;
  //padding-bottom: 16px;
  // position: sticky;
  // top: 16px;
  // z-index: 99999;
  // background: white;
  /* iOS 11.0 */
  // padding-top: constant(safe-area-inset-top);
  /* Высота статус-бара в iOS 11+ */
  // padding-top: env(safe-area-inset-top);
  // padding-top: 20px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: block;
  border: 0;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

svg {
  shape-rendering: optimizeSpeed;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-enter-to {
  position: absolute;
  right: 0;
}
.slide-enter-from {
  position: absolute;
  right: -100vw;
}
.slide-leave-to {
  position: absolute;
  left: -100vw;
}
.slide-leave-from {
  position: absolute;
  left: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-leave-to {
  transform: translateX(-100%);
}

.scroll-snap-item-y {
  scroll-snap-align: start;
}

.no-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.no-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

hr {
  border-color: #424ebb !important;
  opacity: 0.3;
}

.custom-tel-input {
  .vue-tel-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #c4ccd0;
    border-radius: 0;

    .vti__dropdown {
      padding-left: 0;
    }

    &:focus-within {
      box-shadow: none;
      border-bottom: 1px solid #c4ccd0;
    }
  }

  .has_error {
    border-bottom: 1px solid #eb5757;

    ::placeholder {
      color: #eb5757;
    }
  }
}

.page-header {
  z-index: 99999;
  position: sticky;
  top: 0px;
  background-color: $primary;
  padding-bottom: 12px;
  padding-top: calc(12px + env(safe-area-inset-top));
}

.card-wrapper {
  box-shadow: 0px 4px 30px 0px #1932821a;
  border: 1px solid #e8eaf6;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
}

pwa-camera-modal-instance {
  z-index: 999999999999;
}
