$text-color: #283593;
$text-color-light: #8799ca;
$primary: #283593;
$secondary: #ee7a56;
$light-gray: #e8eaf6;
$red: #fe5353;
$font-famaly: "sf pro display", "Open Sans", sans-serif;
$page-bg: #f5f9fc;

:root {
  --text-color: #{$text-color};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --light-gray: #{$light-gray};
  --red: #{$red};
  --page-bg: #{$page-bg};
}
