<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKJJxGwm2fGzmmzBlOV-03WFrNRIFIBp4</string>
	<key>GCM_SENDER_ID</key>
	<string>897494097867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ryzhkov.ro.app</string>
	<key>PROJECT_ID</key>
	<string>rsn-ro</string>
	<key>STORAGE_BUCKET</key>
	<string>rsn-ro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897494097867:ios:b746866c789f70f6e3204e</string>
</dict>
</plist>